*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1{
    margin-bottom: 30px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.button{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 2px solid black;
    cursor: pointer;
}

#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}

h2 {
    margin-top: 30px;
    font-size: 24px;
}